<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Servicing - Home</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Our Car Servicing</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/services/">Services</a>
        <a href="/contactus/">Contact Us</a>
      </nav>
    </header>
    <section class="hero">
        <img src="https://images-porsche.imgix.net/-/media/0B3F90A75B0141FF8BED694C3C1A323B_7C02423B08CB49C8801E208B2D16A51E_CZ25W18OX0004-911-gt3-white-side?w=2560&h=1440&q=45&crop=faces%2Centropy%2Cedges&auto=format"
        alt="Professional Car Servicing" />   
      <p>Your one-stop solution for all car servicing needs.</p>
    </section>
  </body>
</html>
